body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/*-------------------- Cabeçalho - início --------------------*/
.header {
    display: flex;
    justify-content: space-around;
    background-color: #000000;
    color: #ff6600;
    text-align: center;
    padding: 10px 0;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Archivo Black', sans-serif;
}

.header img {
    height: 40px;
}

.header nav {
    display: flex;
    justify-content: space-evenly;
}

.header nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    padding: 5px 15px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.header nav a:hover {
    background-color: #ff6600;
    transform: scale(1.05);
}

.header .profile-icon {
    font-size: 24px;
}
/*-------------------- Cabeçalho - fim --------------------*/

/*-------------------- CONTAINER - início --------------------*/
.container {
    width: 100%;
    max-width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
}

/* CONTAINER - fim */

/*-------------------- Aside - início --------------------*/
aside {
    width: 40%;
    margin: 48px auto;
}

.lateral {
    width: 340px;
    background-color: #D9D9D9;
    border-radius: 12px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.scrollable-area {
    width: 300px;          
    height: auto;         
    overflow-y: hidden;   
    border-radius: 12px;
}

.treinoSelecionado h1 {
    text-align: center;
    margin: 17px auto;
    font-size: 16px;
}

.seuTreino {
    background-color: #B6B6B6;
    width: 100%;
    height: 420px;
    margin: 0 auto;
    border-radius: 12px;
}


#lista-treinos{
    list-style: none;
    margin: 0 auto;
    align-items: center;
}

.botoesFixareConcluir{
    display: flex;
    align-items: center;
    width: 100%;
}

.fixarTreino {
    
    margin-top: 20px;
    color: #fff;
    background-color: #B6B6B6;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    width: 60%;
    transition: background-color 0.3s;
}

.concluirTreinosBtn{
    cursor: pointer;
    margin-top: 20px;
    border-radius: 5px;
    font-size: 12px;
    width: 40%;
    margin-left: 2px;
}
.fixarTreino:hover .concluirFicha:hover {
    background-color: #555555;
}

/* teste pop up de conclusao */

.popupConclusao {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    display: none; 
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-conteudo-conclusao {
    background-color: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    width: 300px;
}

.fecharConclusao {
    padding: 10px 20px;
    background-color: #FF7043;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.fecharConclusao:hover {
    padding: 10px 20px;
    background-color: #ff3c00;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.popup {
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.popup-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 500px;
    text-align: center;
    color: #000 ;
}

.close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
}


/*  aaa /*

/* Card - início */
.card {
    padding: 20px;
    margin-top: 1px;
    border-radius: 5px;
}

.lineInput {
    display: grid;
    margin-bottom: 10px;
}

input {
    padding: 10px;
    border: 1px solid #B6B6B6;
    border-radius: 3px;
    outline: 0;
}

button {
    border: 0px;
    padding: 10px;
    outline: 0;
    background-color: #B6B6B6;
    color: white;
    border-radius: 3px;
    font-weight: bold;
    transition: all ease 0.3s;
}

button:hover {
    background-color: #808080;
}


.content {
    margin-top: 15px;
}

table {
    color: white;
    background-color: #808080;
    border-collapse: collapse;
    border: 1px solid #666666;
    width: 100%;
    border-radius: 3px;
}

table th {
    text-align: center;
    padding: 1px 5px;
}

table td {
    text-align: left;
    padding: 1px 5px;
}

label {
    
    color: #3E3E3E;
    font-weight: bold;
    margin: 4px auto;
    
}

/*-------------------- Aside - FIM --------------------*/
/*-------------------- MAIN - início --------------------*/
main {
    
    width: 60%;
    margin: 48px auto;
}


.backTreino {
    width: 60%;
    display: grid;
    grid-template-columns: repeat(2, 250px);
    gap: 10px;
    margin: 0 auto;
}

.backTreino h1 {
    color: black;
    font-size: 12px;
    text-align: center;
}

.treino1, .treino2, .treino3, .treino4 {
    position: relative;
    background-color: #D9D9D9;
    width: 250px;
    height: 250px;
    border-radius: 12px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.verMaisBtn {
    margin-top: auto;
    padding: 10px 20px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
}

.verMaisBtn:hover {
    background-color: #555555;
}

.fecharBtn {
    margin-top: 15px;
    padding: 10px 15px;
    background-color: #ff6600;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

ul{
    list-style-type: none;
    padding: 0;
    margin-bottom: 100px;
}

/* POP - inicio */

/* dropdown */
.dropdown {
    min-width: 15em;
    position: relative;
    margin: 2em;
}

.dropdown * {
    box-sizing: border-box;
}

.select {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px black solid;
    border-radius: 0.5em;
    padding: 1em;
    cursor: pointer;
    transition: background 0.3s;
}

.select-clicked {
    border: 2px #ff6600 solid;
    box-shadow: 0 0 0.2em #e65c00;
}

.select:hover{
    background: white;
}

.caret{
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #FFFFFF;
    transition: 0.3s;
}

.caret-rotate{
    transform: rotate(180deg);
}

.menu{
    list-style: none;
    padding: 0.2em 0.5em;
    background: white;
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
    border-radius: 0.5em;
    color: black;
    position: absolute;
    top: 3em;
    left: 50%;
    width: 100%;
    transform: translate(-50%);
    opacity: 0;
    display: none;
    transition: 0.2s;
    z-index: 1;
}

.menu li{
    padding: 0.7em 0.5em;
    margin: 0.3 0;
    border-radius: 0.5em;
    cursor: pointer;
}

.meun li:hover{
    background: #2a2d35;
}


.menu-open{
    display: block;
    opacity: 1;
}

/* fim do dropdown */ 

/* contador de numeros */

.wrapper{
    height: 3em;
    background: white;
    border: 1px black solid;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 15em;
    position: relative;
    margin: 2em;
}

.wrapper *{
    box-sizing: border-box;
}

.wrapper span{
    width: 100%;
    text-align: center;
    font-weight: 500;
    cursor: pointer;
}

.wrapper span.num{
    border-right: 2px solid rgba(0, 0, 0, 0.2);
    border-left: 2px solid rgba(0, 0, 0, 0.2);
    pointer-events: none;
}

span.numSeries{
    border-right: 2px solid rgba(0, 0, 0, 0.2);
    border-left: 2px solid rgba(0, 0, 0, 0.2);
    pointer-events: none;
}

.dropdown .menu {
    max-height: 200px;
    overflow-y: auto;  
    border: 1px solid #ccc; 
    border-radius: 4px;
    padding: 5px;
    scrollbar-width: thin;
}


.dropdown .menu::-webkit-scrollbar {
    width: 6px;
}

.dropdown .menu::-webkit-scrollbar-thumb {
    background-color: #ff6600; 
    border-radius: 4px;
}

.dropdown .menu::-webkit-scrollbar-track {
    background-color: #f1f1f1; 
}


/* fim do contador de numeros */



.btn-excluir{
    background-color: #ff4d4d;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    margin: 0 auto;
}

.fecharBtn:hover {
    background-color: #e65c00;
}

.btn-excluir:hover {
    background-color: #e60000;
}


.treino1 h1, .treino2 h1, .treino3 h1, .treino4 h1 {
    font-size: 12px;
}

ul li{
    font-size: 12px;
    margin: 5px auto;
    
}

#tabela-treinos-popup{
    width: 100%;
    border-collapse: collapse;
    
}

#tabela-treinos-popup th, #tabela-treinos-popup td {    border: 1px solid #555555;
    padding: 8px;
    text-align: center;
    background-color: white;
    color: black;
}

#tabela-treinos-pop th{
    background-color: #D9D9D9;
}

.popup-content {
    background: white;
    padding: 20px;
    width: 600px;
    max-height: 80%; 
    overflow-y: auto; 
    border-radius: 8px;
}

#tbody-treinos-popup {
    max-height: 250px; 
    overflow-y: auto;
}

.menu {
    max-height: 150px;
    overflow-y: auto;
    width: 100%;
}

/* POP - fim */
/*-------------------- MAIN - FIM --------------------*/

/*-------------------- RODAPE - INICIO --------------------*/
/*.footer {
    background-color: #000;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/*-------------------- RODAPE - FIM --------------------*/
/* Responsividade */
@media (max-width: 601px) {
    .container {
        display: block;
    }

    main {
        width: 100%;
        margin: 0 auto;
        display: flex;
    }

    .backTreino {
        width: 95%;
        display: grid;
        grid-template-columns: repeat(2, 250px);
        gap: 10px;
        margin: 0 auto;
    }
}

@media (max-width: 880px) {
    .container {
        display: flex;
    }

    main {
        width: 60%;
        margin: 12px auto;
        display: flex;
    }

    .backTreino .treino2, .treino3 {
        display: none;
    }

    .backTreino {
        width: 80%;
        margin: 16px auto;
        display: block;
    }

    .treino1, .treino2 {
        margin: 12px auto;
    }
}
