body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    display: flex;
    justify-content: space-around;
    background-color: #000000;
    color: #ff6600;
    text-align: center;
    padding: 10px 0;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Archivo Black', sans-serif;
}

.header img {
    height: 40px;
}

.header nav {
    display: flex;
    justify-content: space-evenly;
}

.header nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    padding: 5px 15px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.header nav a:hover {
    background-color: #ff6600;
    transform: scale(1.05);
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 1;
    padding: 20px 10%;
    gap: 20px;
}

.box {
    background: linear-gradient(180deg, #ff6600, #ff3300);
    border-radius: 15px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 25%;
    height: 37rem;
    color: #333;
    text-align: center;
}

#meio {
    width: 40rem;
}

#lateral {
    
}

.box h2 {
    color: #000;
    margin-bottom: 20px;
}

.item {
    background-color: #cccccc;
    height: 5.8rem;
    border-radius: 8px;
    margin-bottom: 15px;
}

.item-feed {
    background-color: #cccccc;
    height: 10rem;
    border-radius: 8px;
    margin-bottom: 15px;
}

.footer {
    background-color: #000000;
    height: 50px;
}


