body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FF5C00 !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    display: flex;
    justify-content: space-around;
    background-color: #000000;
    color: #ff6600;
    text-align: center;
    padding: 10px 0;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Archivo Black', sans-serif;
}

.header img {
    height: 40px;
}

.header nav {
    display: flex;
    justify-content: space-evenly;
}

.header nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    padding: 5px 15px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.header nav a:hover {
    background-color: #ff6600;
    transform: scale(1.05);
}

.container2{
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px 30px;
    width: 100%;
    max-width: 400px;
    text-align: center;
    margin: 0 auto;
}
h1, h2{
    color: #333;
    margin-bottom: 10px;
}
button{
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 20px;
    transition: background-color 0.3s ease;
}
button:hover{
    background-color: #0056b3;
}
.progress, .achievements{
    margin-bottom: 20px;
}
#progressInfo{
    font-size: 16px;
    color: #555;
}
ul{
    list-style: none;
    padding: 0;
}
li{
    background: #f9fafb;
    margin: 5px 0;
    padding: 10px 15px;
    border-radius: 4px;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #e3e6ea;
}
li span{
    font-weight: bold;
    color: #007bff;
}
li .unlocked{
    color: green;
}
li .locked {
    color: gray;
}
